<h2>playground works!</h2>
<!-- <p *ngIf="displayGreet; else elseGreet" [class.text-danger]="hasError">Hi {{ name.toUpperCase() + ", let's play some coding" }}</p> -->
<!-- <p #elseGreet>This is a else greeting message</p> -->
<p [class]="successClass">{{ greetUser() }} - You are here {{siteUrl}}</p>
<p [ngClass]="messageClasses">Here is an example of class binding</p>
<p [style.color]="isWarning ? 'orange' : 'blue'">Here is an example of <b>style</b> binding</p>
<p [style.color]="highlightColor">Here is an example of <b>style</b> binding</p>
<h3 [ngStyle]="titleStyles">Title multiple style binding</h3>
<br />
<input bind-id="myId" type="text" value="{{name}}" [disabled]="isDisabled" />
<button (click)="onClick($event)">Greet</button>
{{greetingMessage}}
<br />
<br />
<input #myInput type="text" value="# reference variable" />
<button (click)="logMessage(myInput.value)">Log</button>
<br />
<br />
<input [(ngModel)]="twowaybinding" type="text" /> {{twowaybinding}}
<br />
<br />
<p>Switch example:</p>
<span [ngSwitch]="switchTesting">
    <p *ngSwitchCase="true">
        True
    </p>
    <p *ngSwitchCase="false">
        False
    </p>
    <p *ngSwitchDefault>
        Default
    </p>
</span>
<br />
<br />
<div *ngFor="let item of items, let i=index">
    <p>{{i}} - {{item}}</p>
</div>
<br /><br />
<p>{{parentData | uppercase }}</p>
<p>{{parentData | titlecase }}</p>

<button (click)="fireEvent()">Send Event to Parent</button>

<p>{{person | json }}</p>
<br /><br />
<b>Pipe only change the data for the view Not value for property</b>
<p>{{5.678 | number: '1.1-2'}}</p>
<p>{{0.25 | percent }}</p>
<p>{{0.25 | currency }}</p>
<p>{{date | date:'short'}}</p>
